.header {
  background-color: #0d1b2a;

  ul {
    list-style: none;
  }

  a {
    color: #ffffff;
  }

  nav {
    .container {
      display: flex;
      justify-content: space-between;
      padding: 1.5rem 1rem;
    }

    h1 {
      line-height: 0;
      a {
        font-size: 1.3rem;
      }
    }

    .options-container {
      display: flex;
      gap: 2rem;
      color: #ffffff;

      svg {
        height: 20px;
        width: 20px;
      }
    }
  }

  .show-list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1.5rem 0 0 1.5rem;
  }

  .search-input {
    display: flex;
    padding: 0rem 1rem 1rem;
    input {
      width: 100%;
      border: none;
      padding: 0.7rem 1rem;
      border-radius: 8px 0 0 8px;
      outline: none;
    }
    button {
      border-radius: 0 8px 8px 0;
      border: none;
      background-color: #ffc300;
      padding: 0.5rem 1rem;
      font-weight: 600;
    }
  }
}

.show {
  display: block;
}

.hidden {
  display: none;
}

@media (min-width: 1200px) {
  .header {
    nav {
      .container {
        padding: 1.5rem 2rem;
        align-items: center;

        .container-menu {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 4rem;
        }
      }
      h1 {
        a {
          font-size: 1.5rem;
        }
      }
      .options-container {
        height: 20px;
        width: 20px;

        svg {
          cursor: pointer;
          transition: color 0.4s;
          &:hover {
            color: #ffc300;
          }
        }
      }
    }
  }
  #list-container {
    display: flex;
    gap: 1.3rem;

    li {
      a {
        font-size: 1.2rem;
      }
    }
  }

  #menu {
    display: none;
  }

  .search-input {
    button {
      cursor: pointer;
      transition: background-color 0.5s;

      &:hover {
        background-color: #ffc400d6;
      }
    }
  }

  #list-container {
    a {
      cursor: pointer;
      transition: color 0.5s;

      &:hover {
        color: #ffc300;
      }
    }
  }
}
